<tr>
  <td><%= link_to impacted_application.application.name + " (" + impacted_application.application.ams_id.to_s + ")", impacted_application.application %></td>
  <td><%= impacted_application.business_area.name%></td>

</tr>